<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error page</title>
    <link rel="stylesheet"
          th:href="@{/webjars/skeleton-css/2.0.4/css/skeleton.css}"
          href="webjars/skeleton-css/2.0.4/css/skeleton.css"/>
</head>
<body>
<div>
    <h1>Error</h1>
    <p>An error has occured! Maybe you have typed wrong URL or your input caused an application to fail. Please make sure you do everything correctly!</p>
</div>
</body>
</html>