<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration Service</title>
    <link rel="stylesheet"
          th:href="@{/webjars/skeleton-css/2.0.4/css/skeleton.css}"
          href="webjars/skeleton-css/2.0.4/css/skeleton.css"/>
</head>
<body>
<div>
<!-- Put signup button here -->
<form action="/registration" method="post" th:action="@{/registration}">
    <p>Email</p>
    <input type="email" name="email"/>
    <p>Password</p>
    <input type="password" name="password"/>
    <button type="submit">Create Account</button>
</form>
</div>
<p th:text="${user}"></p>
</body>
</html>
